*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blog-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 10px;
            background-color: #ce0b0b;
            max-width: 300px;
            
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

.blog-container img {
            width: 300px;
            height: auto;
            border-radius: 10px;
        }

       