*{
    background-color: rgba(29, 28, 28, 0.637);
    color: white;
    height: auto;

}
body{
    display: flex;
    flex-direction: column;
    height: fit-content;
    box-sizing: border-box;
}
.container{
    background-color: rgb(2, 26, 43);
    height: max-content;
    display: flex;
    flex-direction: row;
    
}
#user-section{
    background-color: rgb(5, 30, 48);
    height: max-content;
}

#admin-section{
    
}
#user-section,#admin-section{  
    width: 50vw;
    height: 80vw;
    scroll-behavior: none;
}