body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: white;
            font-family: Arial, sans-serif;
            margin: 0;
        }

        .container {
            width: 400px;
            padding: 30px;
            background: white;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
        }

        .h-login {
            color: rgb(34, 34, 34);
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            text-align: left;
            margin-top: 10px;
            font-weight: bold;
        }

        input{
            margin-top: 5px;
            margin-bottom: 15px;
            height: 45px;
            padding: 10px;
            font-size: 16px;
            width: 100%;
            box-sizing: border-box;}
        
        select {
            margin-top: 5px;
            margin-bottom: 15px;
            height: 45px;
            padding: 10px;
            font-size: 16px;
            width: 100%;
            box-sizing: border-box;
        }

        button {
            width: 100%;
            height: 45px;
            background-color: blueviolet;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer; 
        }

        button:hover {
            background-color: indigo;
        }